alabaster==0.7.12
astroid==2.3.3
Babel==2.8.0
bleach==3.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
cwrap==1.6.1
cycler==0.10.0
dash==1.15.0
dash-bootstrap-components==0.10.5
dash-core-components==1.11.0
dash-html-components==1.1.0
dash-renderer==1.7.0
dash-table==4.10.0
defusedxml==0.6.0
docutils==0.16
ecl==0.0.0
equinor-libecl==0.1.1
Flask==1.1.1
Flask-Caching==1.8.0
Flask-Compress==1.4.0
Flask-Cors==3.0.8
flask-talisman==0.7.0
fmu-ensemble==1.2.5
future==0.18.2
idna==2.8
imagesize==1.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
numpy==1.18.1
packaging==20.1
pandas==0.25.3
pathspec==0.8.0
Pillow==6.2.2
plotly==4.5.0
pyarrow==0.16.0
pycparser==2.19
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.6
pyscal==0.6.0
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2019.3
PyYAML==5.3
requests==2.22.0
retrying==1.3.3
scipy==1.4.1
segyio==1.9.0
Shapely==1.7.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tqdm==4.48.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.8
webencodings==0.5.1
webviz-config-equinor==0.0.10
webviz-core-components==0.0.20
webviz-subsurface==0.1.2
webviz-subsurface-components==0.1.0
Werkzeug==1.0.0
wrapt==1.11.2
xlrd==1.2.0
xtgeo==2.11.0
yamllint==1.24.2